{% extends 'logged_template.html' %}

{% block content %}

<div class="r-middle">
    <div class="r-color">
        <br>
        <div class="r-text">
            <h1>Add Recipe</h1>
            <form method="POST" action="{{ url_for('apps.addRecipe') }}" enctype="multipart/form-data">

                <label><b>Recipe Image</b></label>
                <div>
                    <input id="recipe-image" name="file" type="file" accept="image/png, image/gif, image/jpeg" value=""
                        required="required">
                </div>
                <br>
                <label><b>Recipe Name</b></label>
                <div>
                    <input type="text" placeholder="Recipe Name" name="recipe_name" required="required" size="60%">
                </div>
                <br>
                <label><b>Description </b></label>
                <div class="r-textbox">
                    <textarea name="recipe_description" rows="5" cols="80%" required="required"></textarea>
                </div>
                <br>
                <label><b>Ingredient </b></label>
                <div>
                    <textarea name="recipe_ingredients" rows="5" cols="80%" required="required"></textarea>
                </div>
                <br>
                <label><b>Instructions </b></label>
                <div>
                    <textarea name="recipe_method" rows="5" cols="80%" required="required"></textarea>
                </div>
                <br>
                <label><b>Meal Type </b></label>
                <select id="meal_type" name="meal_type" required="required">
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="General">General</option>
                </select><br>
                <label><b>Prep Time</b></label>
                <div>
                    <input type="number" placeholder="Recipe Prep Time" name="prep_time" required="required" size="60%" min = "0">
                </div>
                <br>
                <label><b>Cook Time</b></label>
                <div>
                    <input type="number" placeholder="Recipe Cook Time" name="cook_time" required="required" size="60%" min = "0">
                </div>
                <br>
                <label><b>Servings</b></label>
                <div>
                    <input type="number" placeholder="Servings" name="servings" required="required" size="60%" min = "0">
                </div>
                <br>
                <label><b>Video (optional) </b></label>
                <br>

                <input type="text" id="input" name="input_video" size="60%" placeholder="Youtube URL">

                <br>
                <br>
                <div class="r-btnposition">
                    <button class="p-btn" type="submit">Add Recipe</button>
                </div>
                <br>

                <br>

            </form>
            <div class="r-btnposition">
                <form action="{{ url_for('apps.logged') }}" method="GET">
                    <input class="p-btn p-delete" type="submit" value="Cancel" />

                </form>
            </div>
            <br>
        </div>
    </div>
</div>

{% endblock %}